<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ .Title}}</title>
    </head>
    <body>
		<header>
			<h1>{{ .Title}}</h1>
		</header>

		<nav>
			<ul>
				<li><a href="/">Головна</a></li>
				<li><a href="/intercoms">Відеопанелі</a></li>
				<li><a href="/users">Абоненти</a></li>
			</ul>
		</nav>
		
		<footer>
			<center><p>&copy; Oleksandr Yarotskyi - {{ .Year }} рік</p></center>
		</footer>
    </body>
</html>
