<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ .Title }}</title>

		<style>
			table {
				border-collapse: collapse;
				width: 100%;
				border: 1px solid #ddd;
			}

			th, td {
				text-align: left;
				padding: 16px;
				border: 1px solid #ddd;
			}
		</style>
    </head>
    <body>
		<header>
			<h1>{{ .Title }}</h1>
		</header>

		<nav>
			<ul>
				<li><a href="/">Головна</a></li>
				<li><a href="/intercoms">Відеопанелі</a></li>
				<li><a href="/users">Абоненти</a></li>
			</ul>
		</nav>

		<main>
			<table>
				<tr>
					<th>Дата монтажу</th>
					<th>Адреса</th>
					<th>IP-адреса</th>
				</tr>
				<tr>
					{{range .Intercoms }}
						<td>{{ .Reg_date }}</td>
						<td>{{ .Address }}</td>
						<td><a target="_blank" href="http://{{ .Login }}:{{ .Password }}@{{ .Ipaddr }}:{{ .Port }}">{{ .Ipaddr }}</a></td>
					{{else}}
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					{{end}}
				</tr>
			</table>
		</main>
		<footer>
			<center><p>&copy; Oleksandr Yarotskyi - {{ .Year }} рік</p></center>
		</footer>
    </body>
</html>
