<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ .Title }}</title>

		<style>
			table {
				border-collapse: collapse;
				width: 100%;
				border: 1px solid #ddd;
			}

			th, td {
				text-align: left;
				padding: 16px;
				border: 1px solid #ddd;
			}
		</style>
    </head>
    <body>
		<header>
			<h1>{{ .Title }}</h1>
		</header>

		<nav>
			<ul>
				<li><a href="/">Головна</a></li>
				<li><a href="/intercoms">Відеопанелі</a></li>
				<li><a href="/users">Абоненти</a></li>
			</ul>
		</nav>

		<main>
			<table>
				<tr>
					<th>ПІБ</th>
					<th>Номер</th>
					<th>Email</th>
					<th>Адреса</th>
					<th>Оплачено до</th>
					<th>Дата реєстрації</th>
				</tr>
				<tr>
					{{range .Users}}
						<td>{{ .Name }}</td>
						<td><a target="_blank" href="tel:{{ .Phone }}">{{ .Phone }}</a></td>
						<td><a target="_blank" href="mailto:{{ .Email }}">{{ .Email }}</a></td>
						<td>{{ .Address }}</td>
						<td>{{ .Paid }}</td>
						<td>{{ .Reg_date }}</td>
					{{else}}
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					{{end}}
				</tr>
			</table>
		</main>
		<footer>
			<center><p>&copy; Oleksandr Yarotskyi - {{ .Year }} рік</p></center>
		</footer>
    </body>
</html>
